<header>
    <div class="logo"><a href="#"><img src="../../assets/logo.png" alt=""></a></div>
    <div class="search-bar">
        <form action="">
            <input type="text" type="text" placeholder="Search...">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    <nav>
        <a class="nav-button" href="login-button"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
        <a class="nav-button" href="bookmark-button"><i class="fa-solid fa-bookmark"></i> Bookmarks</a>
        <a class="nav-button" href="cart-button"><i class="fa-solid fa-cart-shopping"></i> Cart</a>
    </nav>
</header>